body{
  margin: 0;
  background: top right no-repeat url('img/background.svg');
  background-size: 40%;
}
.burger, .about, .section-5, #burger__toggle, #search-mobile__toggle, .search-mobile__button,
.consultation-mobile, .main__advantages_title, .main__advantages_item-1280,
.main__advantages_item-320{
  display: none;
}
aside{
  display: inline-block;
  width: 19%;
  height: 100vh;
  vertical-align: top;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}
header{
  display: flex;
  justify-content: stretch;
  height: 103px;
  margin-bottom: 19px;
}
.logo{
  width: 272px;
  height: 48px;
  background: no-repeat url('img/logo.svg');
  background-size: contain;
  margin: 28px 0 24px 51px;
}
.wrapper{
  display: inline-block;
  width: 80%;
}
.aside-menu{
  list-style-type: none;
  padding-left: 50px;
}
.aside-menu__item{
  position: relative;
  background-color: #f8f8f8;
  border-top: 2px solid #ececec;
  max-width: 271px;
  height: 50px;
  vertical-align: middle;
}
.aside-menu__item:last-child{
  border-bottom: 2px solid #ececec;
}
.aside-menu__item-link{
  position: relative;
  color: #3c3c3b;
  text-decoration: none;
  font: 500 16px/13px Roboto, arial, helvetica, sans-serif;
  top: 19px;
  padding-left: 71px;
  transition: 0.5s;
}
.aside-menu__item-active{
  background-color: #fff;
}
.aside-menu__link-active, .aside-menu__item-link:hover{
  color: #95b03c;
}
.aside-menu__item-image{
  position: absolute;
  left: 34px;
  top: 50%;
  transform: translate(-46%, -41%);
}
.section-5{
  list-style-type: none;
  padding: 0;
  margin-bottom: 34px;
  width: 100%;
}
.section-5__item{
  padding-left: 62px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  position: relative;
  height: 59px;
  display: flex;
  align-items: center;
}
.section-5__item-link{
  font: 500 14px/19px Roboto, arial, helvetica, sans-serif;
  color: #3c3c3b;
  text-decoration: none;
}
.section-5__item-link::after{
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 11px;
  top: 27px;
  left: 92%;
  background: no-repeat url('img/icons/vector-mobile.svg');
  background-size: contain;
}
.section-5__item-image{
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(-53%, -44%);
}
.menu-wrapper{
  display: inline-block;
  width: 69.5%;
  vertical-align: top;
}
.menu{
  display: inline-block;
  padding: 19px 0 12px 52px;
  position: relative;
}
.menu__item{
  position: relative;
  color: #3c3c3b;
  text-decoration: none;
  font: 400 16px/13px Roboto, arial, helvetica, sans-serif;
  padding: 0 40px 12px 0;
  cursor: pointer;
}
.menu__item-list{
  padding-right: 63px;
}
.menu__item:last-child{
  padding-right: 0;
}
.menu__item-list::after{
  position: absolute;
  display: inline-block;
  content: '';
  width: 12px;
  height: 7px;
  top: 6px;
  left: 99px;
  background: no-repeat url('img/icons/vector.svg');
  background-size: contain;
}
.menu__list{
  position: absolute;
  top: -300px;
  list-style-type: none;
  padding-left: 0;
}
.menu__list_item{
  color: #3c3c3b;
  font: 500 14px/13px Roboto, arial, helvetica, sans-serif;
  padding: 24px 0 23px 14px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  width: 190px;
  max-width: 190px;
  cursor: pointer;
}
.menu__item-list:hover ~ .menu__list, .menu__list:hover{
  top: 33px;
  left: -4px;
}
.search-form{
  display: inline-block;
  background-color: #f8f8f8;
  width: 100%;
  height: 54px;
  text-align: center;
}
.search{
  display: inline-block;
  padding: 8px 0 3px 0;
  margin-top: 0;
}
.search__field{
  height: 38px;
  width: 555px;
  max-width: 555px;
  border: 1px solid #E0E0E0;
  vertical-align: top;
}
.search__field::placeholder{
  font: 400 14px/16px Roboto, arial, helvetica, sans-serif;
  padding-left: 15px;
}
.search__button{
  margin-left: -4px;
}
.toolbar{
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 31%;
  background-color: #95b03c;
  padding: 0 19px 0 14px;
  box-sizing: border-box;
  margin-left: -2px;
}
.toolbar__item{
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 28px;
  cursor: pointer;
}
.toolbar__counter{
  position: absolute;
  color: #fff;
  font: 700 12px/14px Roboto, arial, helvetica, sans-serif;
  letter-spacing: 0.06em;
  top: 9px;
  left: 42px;
}
.toolbar__button{
  border: none;
  height: 22px;
  width: 22px;
}
.toolbar__text{
  margin-top: 0;
}
.toolbar__link{
  color: #fff;
  text-decoration: none;
  font: 400 12px/14px Roboto, arial, helvetica, sans-serif;
  letter-spacing: 0.06em;
}
.toolbar__cabinet{
  background: center no-repeat url('img/icons/cabinet.svg');
}
.toolbar__favorites{
  background: center no-repeat url('img/icons/favorites.svg');
}
.toolbar__comparison{
  background: center no-repeat url('img/icons/comparison.svg');
}
.toolbar__basket{
  background: center no-repeat url('img/icons/basket.svg');
}
.contacts{
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 17%;
  background-color: #95b03c;
}
.contacts__text{
  color: #fff;
  font: 400 13px/14px Roboto, arial, helvetica, sans-serif;
  padding: 8px 0 0 24px;
  margin-bottom: 0;
}
.contacts__phone{
  color: #fff;
  font: 700 19px/26px Roboto, arial, helvetica, sans-serif;
}
.contacts__location{
  padding-left: 43px;
  margin-top: -5px;
}
.contacts__location-link{
  position: relative;
  text-decoration: none;
  color: #fff;
  font: 400 12px/30px Roboto, arial, helvetica, sans-serif;
  letter-spacing: 0.1em;
}
.contacts__location-link::before{
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 13px;
  top: 0;
  left: -19px;
  background: no-repeat url('img/icons/geolocation.svg');
  background-size: contain;
}
.contacts__location-link::after{
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  top: 12px;
  background: no-repeat url('img/icons/points.svg');
  background-size: contain;
}
.consultation{
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font: 500 18px/22px Roboto, arial, helvetica, sans-serif;
  padding: 29px 0 30px 53px;
  background-color: #3c3c3b;
  color: #fff;
  width: 15%;
  margin: 0 -15px 0 -5px;
}
.main{
  width: 95%;
  margin: auto;
}
.main__banner{
  margin-left: 12px;
  background: no-repeat center url('img/banner.jpg');
  background-size: contain;
  height: 553px;
  margin-bottom: 129px;
}
.main__banner_points{
  padding: 561px 0 0 3px;
}
.main__banner_points_item{
  border: 2px solid #3C3C3B;
  padding: 4px 4px;
  border-radius: 50%;
  margin-right: 20px;
}
.main__banner_points_item-active{
  border: none;
  padding: 6px 6px;
  background-color: #95B03C;
}
.main__advantages{
  padding-left: 18px;
}
.main__advantages_item{
  margin: -5px -7px 0 0;
}
.main__advantages_item-text{
  position: absolute;
  width: 363px;
  height: 400px;
  font: 500 18px/29px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background-color: #95b03c;
  margin: -5px -5px 0 0;
  vertical-align: top;
  top: 0;
  padding: 23px 11px 10px 19px;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
}
.main__advantages_hover-box{
  display: inline-block;
  position: relative;
}
.main__advantages_hover-box:hover > .main__advantages_item-text{
  opacity: 1;
}
.active{
  display: block;
  z-index: 1;
}
.hidden{
  display: none;
}
@media (min-width: 1530px) and (max-width: 1919px){
  .logo{
    width: 15vw;
  }
  .section-5__item-link::after{

  }
  .menu__item{
    padding-right: 10px;
  }
  .menu__item-list {
    padding-right: 24px;
  }
  .search__field{
    width: 28vw;
  }
  .toolbar{
    padding: 0;
  }
  .contacts__text{
    padding-left: 4px;
  }
  .contacts__location{
    padding-left: 23px;
  }
  .consultation{
    margin-right: -11px;
    padding-left: 48px;
  }
  .main__advantages_item{
    width: 18vw;
  }
  .main__advantages_item-text{
    width: 18vw;
    height: 20vw;
    font: 500 15px/25px Roboto, arial, helvetica, sans-serif;
  }
}
@media (max-width: 1529px){
  body{
    background: top right no-repeat url('img/background1280.svg');
    background-size: 33.5%;
  }
  .toolbar__text, .main__advantages_item{
    display: none;
  }
  aside{
    width: 22%;
  }
  header{
    height: 100px;
    margin-bottom: 31px;
  }
  .wrapper{
    width: 77%;
  }
  .logo{
    width: 222px;
    height: 39px;
    margin: 28px 0 32px 29px;
  }
  .aside-menu{
    padding-left: 29px;
  }
  .aside-menu__item{
    max-width: 224px;
  }
  .aside-menu__item:first-child{
    padding-top: 3px;
  }
  .aside-menu__item-link{
    font: 500 14px/13px Roboto, arial, helvetica, sans-serif;
    top: 17px;
  }
  .aside-menu__item-image{
    transform: translate(-41%, -47%);
  }
  .menu-wrapper{
    width: 111%;
  }
  .menu {
    padding: 14px 0 14px 26px;
  }
  .menu__item{
    font: 400 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 0 17px 16px 0;
  }
  .menu__item-list{
    padding-right: 30px;
  }
  .menu__item-list::after{
    left: 84px;
  }
  .menu__item-list:hover ~ .menu__list, .menu__list:hover{
    top: 30px;
  }
  .search{
    padding-right: 6px;
  }
  .search__field{
    width: 379px;
  }
  .search__button{
    padding-left: 12px;
    background-color: #3C3C3B;
  }
  .toolbar{
    flex-wrap: wrap;
    width: 22%;
    padding: 17px 13px 0px 1px;
  }
  .toolbar__item{
    padding: 0px 9px 0 11px;
  }
  .toolbar__counter{
    top: -17px;
    left: 35px;
  }
  .toolbar__counter-favorites{
    top: -16px;
    left: 27px;
  }
  .contacts{
    width: 33%;
  }
  .contacts__text{
    padding-left: 21px;
  }
  .contacts__location{
    padding-left: 42px;
  }
  .contacts__phone{
    font: 400 17px/26px Roboto, arial, helvetica, sans-serif;
  }
  .consultation{
    width: 25%;
    padding-left: 20px;
    font: 500 14px/20px Roboto, arial, helvetica, sans-serif;
    margin-right: -9px;
  }
  .main__banner{
    margin-left: 3px;
    background: no-repeat center url(img/banner1280.png);
    background-size: contain;
    height: 418px;
    margin-bottom: 137px;
  }
  .main__banner_points{
    padding: 442px 0 0 0px;
  }
  .main__banner_points_item{
    padding: 3px 3px;
    margin-right: 17px;
  }
  .main__banner_points_item-active{
    padding: 5px 5px;
  }
  .main__advantages{
    padding-left: 1px;
  }
  .main__advantages_item-1280{
    margin: -5px -5px 0 0;
    display: inline-block;
  }
  .main__advantages_item-text{
    width: 236px;
    height: 282px;
    font: 500 14px/19px Roboto, arial, helvetica, sans-serif;
  }
}
@media (min-width: 769px) and (max-width: 1279px){
  .logo{
    width: 190px;
  }
  .aside-menu__item-link{
    font-size: 13px;
  }
  .section-5__item {
    padding-left: 47px;
  }
  .section-5__item-image{
    left: 25px;
  }
  .section-5__item-link {
    font: 500 13px/12px Roboto, arial, helvetica, sans-serif;
  }
  .section-5__item-link::after {
    top: 41px;
  }
  .menu{
    padding-left: 8px;
  }
  .menu__item{
    padding-right: 4px;
    font-size: 13px;
  }
  .menu__item-list{
    padding-right: 20px;
  }
  .menu__item-list::after{
    left: 78px;
  }
  .search{
    padding-right: 0;
    width: 44vw;
  }
  .search__field{
    width: 30vw;
  }
  .search__button{
    padding-left: 0;
  }
  .contacts__text{
    padding-left: 5px;
  }
  .contacts__location{
    padding-left: 25px;
  }
  .consultation{
    padding-left: 14px;
    margin-right: -7px;
  }
  .main__advantages_item-1280{
    width: 18vw;
  }
  .main__advantages_item-text{
    width: 18vw;
    height: auto;
    font: 500 12px/18px Roboto, arial, helvetica, sans-serif;
  }
}
@media (min-width: 769px) and (max-width: 1051px){
  .logo{
    width: 18vw;
    margin: 19px 0 19px 19px;
  }
  .aside-menu{
    padding-left: 10px;
  }
  .aside-menu__item-image{
    left: 20px;
  }
  .aside-menu__item-link{
    font-size: 12px;
    padding-left: 43px;
  }
  header{
    margin-bottom: 0;
  }
  .menu__item{
    padding-right: 29px;
  }
  .menu__item-list{
    padding-right: 85px;
  }
  .menu__item-list:hover ~ .menu__list, .menu__list:hover{
    top: 17px;
    z-index: 1;
  }
  .search-form{
    width: 99%;
  }
  .search__field {
    width: 25vw;
  }
  .toolbar{
    width: 32%;
  }
  .contacts{
    display: none;
  }
  .consultation {
    margin-right: -4px;
    padding-left: 25px;
    width: 44%;
  }
  .main__banner{
    margin-bottom: 30px;
  }
  .main__banner_points{
    padding-top: 374px;
  }
}
@media (max-width: 768px){
  body{
    background: none;
  }
  .aside-menu, .menu, .search-form, .contacts, .consultation, .main__advantages_item-1280{
    display: none;
  }
  aside{
    display: block;
    box-shadow: none;
    height: 46px;
  }
  aside::after{
    display: block;
    content: '';
    width: 100vw;
    height: 2px;
    background-color: #95b03c;
  }
  .aside-menu{
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .aside-menu__item{
    width: 100vw;
    max-width: 100vw;
    height: 59px;
    background-color: #fff;
  }
  .aside-menu__item:last-child{
    display: none;
  }
  .aside-menu__item-link{
    top: 20px;
    padding-left: 67px;
  }
  .aside-menu__item-image{
    left: 29px;
    transform: translate(-41%, -54%);
  }
  .aside-menu__item-active{
    margin-bottom: 32px;
  }
  .aside-menu__item::after{
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 11px;
    top: 23px;
    left: 90%;
    background: no-repeat url('img/icons/vector-mobile.svg');
    background-size: contain;
  }
  .section-5{
    width: 100vw;
  }
  .section-5__item-link::after{
    left: 90%;
  }
  header{
    height: 49px;
    padding-top: 6px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
    margin-bottom: 38px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .logo{
    width: 143px;
    height: 25px;
    margin: 18px 0 19px 10px;
  }
  .burger{
    display: block;
  }
  .burger__back{
    position: absolute;
    top: 0;
    padding: 10px 100px 14px 47px;
    background-color: #fff;
    color: #aeaeae;
    font: 500 14px/13px Roboto arial, helvetica, sans-serif;
    letter-spacing: 0.02em;
  }
  .burger__back::before{
    position: absolute;
    display: block;
    content: '';
    width: 19px;
    height: 8px;
    top: 12px;
    left: 14px;
    background: no-repeat url('img/icons/arrow.svg');
    background-size: contain;
  }
  .burger__title{
    border-top: 2px solid #ececec;
    padding: 18px 0 7px 15px;
    margin-top: -3px;
    width: 95vw;
  }
  .burger__title-text{
    font: 700 18px/13px Roboto arial, helvetica, sans-serif;
    color: #3c3c3b;
    position: relative;
  }
  .burger__title-text::after{
    position: absolute;
    display: block;
    content: '';
    width: 102%;
    height: 2px;
    top: 24px;
    left: 0px;
    background-color: #95b03c;
  }
  .burger__box{
    display: block;
    position: absolute;
    top: 45px;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 0;
    list-style: none;
    z-index: 1;
  }
  .burger__item{
    display: block;
    padding: 24px 0 23px 14px;
    color: #3c3c3b;
    font: 500 14px/13px Roboto arial, helvetica, sans-serif;
    letter-spacing: 0.06em;
    text-decoration: none;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    font-family: Roboto;
    position: relative;
  }
  .burger__box > li:first-child > .burger__item{
    color: #fff;
    border: none;
    background-color: #95b03c;
  }
  .burger__item-list::after{
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 12px;
    top: 24px;
    left: 90.5%;
    background: no-repeat url('img/icons/vector-mobile.svg');
    background-size: contain;
  }
  .burger__box > li:first-child > .burger__item-list::after{
    background: no-repeat url('img/icons/vector-white.svg');
  }
  .burger__contacts{
    background-color: #fff;
    margin: 0;
    color: #3c3c3b;
    font: 500 14px/13px Roboto arial, helvetica, sans-serif;
    letter-spacing: 0.04em;
    padding: 28px 0 52px 8px;
  }
  .burger__contacts_phone{
    font: 700 18px/26px Roboto arial, helvetica, sans-serif;
    margin: 8px 0 11px 0px;
  }
  .burger__contacts_location-link{
    font: 400 16px/30px Roboto arial, helvetica, sans-serif;
    letter-spacing: 0.1em;
    color: #3c3c3b;
    text-decoration: none;
    padding-left: 25px;
    position: relative;
  }
  .burger__contacts_location-link::before{
    position: absolute;
    display: block;
    content: '';
    width: 14px;
    height: 16px;
    top: 1px;
    left: 0px;
    background: no-repeat url('img/icons/geolocation-mobile.svg');
    background-size: contain;
  }
  .burger__contacts_location-link::after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    top: 19px;
    left: 23px;
    background: no-repeat url('img/icons/points-mobile.svg');
    background-size: contain;
  }
  .burger__button{
    display: block;
    position: absolute;
    top: 30px;
    left: 89%;
    width: 25px;
    height: 17px;
    z-index: 1;
   }
   .burger__button > span,
   .burger__button > span::before,
   .burger__button > span::after{
     display: block;
     position: absolute;
     width: 100%;
     height: 3px;
     background-color: #3c3c3b;
   }
   .burger__button > span::before{
     content: '';
     top: -9px;
   }
   .burger__button > span::after{
     content: '';
     top: 9px;
   }
   #burger__toggle:checked ~ .burger__button > span{
     width: 20px;
     height: 1px;
     transform: rotate(45deg);
   }
   #burger__toggle:checked ~ .burger__button > span::before{
     width: 20px;
     height: 1px;
     top: 0;
     transform: rotate(0);
   }
   #burger__toggle:checked ~ .burger__button > span::after{
     width: 20px;
     height: 1px;
     top: 0;
     transform: rotate(90deg);
   }
   #burger__toggle:checked ~ .burger__box {
     left: 0;
   }
   .about{
     list-style-type: none;
     padding: 0;
     height: 100vh;
   }
   .about__item{
     color: #3c3c3b;
     font: 500 14px/13px Roboto, arial, helvetica, sans-serif;
     padding: 24px 0 23px 14px;
     border: 1px solid #f2f2f2;
     background-color: #fff;
     width: 100vw;
   }
   .wrapper{
     display: block;
     width: 100%;
   }
   .menu-wrapper{
     padding: 11px 0 0 10px;
     width: auto;
   }
   .search-mobile__button{
     display: inline-block;
     width: 21px;
   }
   .search-form{
     position: absolute;
     width: 100vw;
     top: 119px;
     left: 0;
   }
   .search{
     width: 100vw;
     padding-right: 0;
   }
   .search__field{
     width: 59%;
   }
   .search__button{
     padding: 0;
   }
   #search-mobile__toggle:checked ~ .search-form{
     display: block;
   }
   .toolbar{
     display: inline-block;
     background-color: #fff;
     width: auto;
     padding: 9px 0 0 1px;
     margin-right: 7.5%;
   }
   .toolbar__item{
    padding: 0 0 0 2px;
  }
   .toolbar__counter{
     color: #3c3c3b;
     left: 22px;
   }
   .toolbar__counter-favorites{
     left: 20px;
  }
   .toolbar__cabinet{
     background: center no-repeat url('img/icons/cabinet-mobile.svg');
   }
   .toolbar__favorites{
     background: center no-repeat url('img/icons/favorites-mobile.svg');
   }
   .toolbar__comparison{
     background: center no-repeat url('img/icons/comparison-mobile.svg');
   }
   .toolbar__basket{
     background: center no-repeat url('img/icons/basket-mobile.svg');
   }
   .consultation-mobile{
     display: inline-block;
     text-decoration: none;
     vertical-align: top;
     color: #fff;
     font: 700 14px/24px Roboto, arial, helvetica, sans-serif;
     background-color: #3c3c3b;
     padding: 10px 24px 10px 22px;
     margin-right: 9px;
   }
   .main{
     width: 98%;
   }
   .main__banner{
     margin-left: 0px;
     background: no-repeat center url('img/banner320.jpg');
     height: 274px;
     margin-bottom: 62px;
   }
   .main__banner_points{
    padding: 282px 0 0 8px;
    text-align: center;
  }
  .main__banner_points_item{
    padding: 1px 1px;
    margin-right: 11px;
  }
  .main__banner_points_item-active{
    padding: 3px 3px;
  }
  .main__advantages{
    padding-left: 7px;
  }
  .main__advantages_title{
    display: block;
    font: 700 20px/20px Roboto, arial, helvetica, sans-serif;
    color: #3c3c3b;
    margin-bottom: 27px;
  }
   .main__advantages_item-320{
     display: inline-block;
     margin: 0 5px 6px 0;
   }
   .main__advantages_item-text{
     width: 145px;
     height: 262px;
     font: 400 10px/16px Roboto, arial, helvetica, sans-serif;
     padding: 5px;
   }
   .active{
     display: block;
     z-index: 1;
   }
   .hidden{
     display: none;
   }
}
@media (min-width: 500px) and (max-width: 768px){
  .burger__button{
    left: 94%;
  }
  .toolbar{
    margin-right: 38vw;
  }
  .main__banner{
    background: no-repeat center url(img/banner1280.png);
    background-size: contain;
  }
}
